<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='dashboard/img/apple-icon.png')}}">
  <link rel="icon" type="image/png" href="{{url_for('static', filename='dashboard/img/favicon.png')}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="{{url_for('static', filename='dashboard/css/bootstrap.min.css')}}" rel="stylesheet" />
  <link href="{{url_for('static', filename='dashboard/css/now-ui-dashboard.css')}}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{{url_for('static', filename='dashboard/demo/demo.css')}}" rel="stylesheet" />
  <style>
    .overlayx {
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.603);
      /* Black see-through */
      color: #f1f1f1;
      width: 100%;
      transition: .5s ease;
      opacity: 1;
      color: white;
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }
  </style>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="red">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="" class="simple-text text-center">
          Thapar University
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{{url_for('hostel.dashboard')}}">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="">
            <a href="{{url_for('hostel.hostelCMS')}}">
              <i class="far fa-clipboard"></i>
              <p>Hostel-Complaints</p>
            </a>
          </li>
          <li class="">
            <a href="{{url_for('hostel.lodgeComplaint')}}">
              <i class="fas fa-tools"></i>
              <p>Lodge A Complaint</p>
            </a>
          </li>
          <li class="">
            <a href="{{url_for('hostel.generateReport')}}">
              <i class="fas fa-scroll"></i>
              <p>Reports</p>
            </a>
          </li>
          <li class="active">
            <a href="{{url_for('hostel.userProfile')}}">
              <i class="now-ui-icons users_single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#">Hello <b>{{user[3]}} {{user[4]}}!</b>
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="navbar-brand" href="{{url_for('hostel.logout')}}">
                  <i class="fas fa-sign-out-alt"></i>
                  <p>
                    &nbsp;logout
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-lg">
        <h2 align="center" class="d-sm-block" style="color:white;">HOSTEL COMPLAINT MANAGEMENT SYSTEM</h2>
        <div class="container">
          {% if appStatus == "Error" %}
          <div align="center"  style="font-weight: 600;" class="alert alert-danger" role="alert">
            Some Error Occurred!
          </div>
          {% endif %}
          {% if appStatus == "Incorrect Password" %}
          <div align="center"  style="font-weight: 600;" class="alert alert-danger" role="alert">
            Previous Password is Incorrect!
          </div>
          {% endif %}
          {% if appStatus == "Password Changed" %}
          <div align="center"  style="background-color: #33bd2c;font-weight: 600;" class="alert alert-success" role="alert">
            Password Updated!
          </div>
          {% endif %}
        </div>
      </div>
      <div class="content" style="margin-top: -90px;">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="title">User Profile</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" style="background-color: #ffffff;    color: #000;"
                          disabled="" placeholder="Name" value="{{user[3]}} {{user[4]}}">
                      </div>
                    </div>
                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>Employee ID</label>
                        <input type="text" class="form-control" style="background-color: #ffffff;    color: #000;"
                          disabled="" placeholder="Roll number" value="{{user[0]}}">
                      </div>
                    </div>
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" style="background-color: #ffffff;    color: #000;"
                          disabled="" placeholder="Email" value="{{user[9]}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Hostel Name</label>
                        <input type="text" class="form-control" style="background-color: #ffffff;    color: #000;"
                          disabled="" placeholder="Hostel Name" value="{{hostelData[1]}}">
                      </div>
                    </div>
                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>Role</label>
                        <input type="text" class="form-control" style="background-color: #ffffff;    color: #000;"
                          disabled="" placeholder="Room Type" value="{{userRole}}">
                      </div>
                    </div>
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Contact Number</label>
                        <input type="text" class="form-control" style="background-color: #ffffff;    color: #000;"
                          disabled="" placeholder="Room Number" value="{{user[7]}}">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 mr-auto">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Change Password</h5>
              </div>
              <div class="card-body">
                <form class="form" method="POST" action="{{url_for('hostel.userProfile')}}"
                  oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" name="employee-old-password" class="form-control"
                      placeholder="Previous Password">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" name="employee-new-password" id="pass1" class="form-control"
                      placeholder="New Password">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" name="new-password" id="pass2" class="form-control"
                      placeholder="Confirm New Password">
                  </div>
                  <div class="card-footer text-center">
                    <input type="submit" name="submit" class="btn btn-primary btn-round btn-lg btn-block"
                      value="Change Password" onclick="return Validate()">
                    <div class="pull-right">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{{url_for('static', filename='dashboard/js/core/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='dashboard/js/core/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='dashboard/js/core/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='dashboard/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{{url_for('static', filename='dashboard/js/plugins/moment.min.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='dashboard/js/plugins/chartjs.min.js')}}"></script>
  <script src="{{url_for('static', filename='dashboard/js/plugins/bootstrap-datetimepicker.min.js')}}"
    type="text/javascript"></script>
  <script src="{{url_for('static', filename='dashboard/js/plugins/bootstrap-datepicker.js')}}"></script>
  <!--  Notifications Plugin    -->
  <script src="{{url_for('static', filename='dashboard/js/plugins/bootstrap-notify.js')}}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{url_for('static', filename='dashboard/js/now-ui-dashboard.min.js')}}" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="{{url_for('static', filename='dashboard/demo/demo.js')}}"></script>
</body>
<script type="text/javascript">
  function Validate() {
      var password = document.getElementById("pass1").value;
      var confirmPassword = document.getElementById("pass2").value;
      if (password != confirmPassword) {
          alert("Passwords do not match.");
          return false;
      }
      return true;
  }
</script>
</html>